<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Herms - Blogfolio</title>
    <!-- CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JS-->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <th:block th:include="navBar"></th:block>
    </header>
    <section>
        <div class="container pb-3" style="width: 60%">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: transparent;padding-left:0px">
                    <li class="breadcrumb-item " aria-current="page"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Me</li>
                </ol>
            </nav>
        </div>
    </section>
    <section>
        <div class="container pb-3" style="width: 60%">
            <h1 th:text="${profile.givenName + ' ' + profile.familyName}"></h1>
            <h5 class="text-muted" th:text="${profile.jobTitle}"></h5>
        </div>
    </section>
</body>
</html>