<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">
                Herms
                <span class="text-muted" style="font-size: 9px;">blogfolio</span>
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" th:classappend="${currentPage == 'posts'} ? 'active'" >
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <li class="nav-item" th:classappend="${currentPage == 'aboutme'} ? 'active'">
                    <a class="nav-link" href="/aboutme">About Me</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!-- Authenticated Options-->
                <div sec:authorize="not isAuthenticated()">
                    <a class="btn btn-outline-light pb-0 pl-1 pr-1" href="/login"><span class="material-icons">lock</span></a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-primary mr-2" href="/newpost">New Post</a>
                    <a class="btn btn-primary mr-2" href="/editprofile">Edit Profile</a>
                    <a class="btn btn-outline-light pb-0 pl-1 pr-1" href="/logout"><span class="material-icons">lock_open</span></a>
                </div>
            </form>
        </div>
    </nav>
</body>
</html>